HTTP_ADDR=0.0.0.0:8080
HTTP_BIND_HOST=127.0.0.1
HTTP_EXTERNAL_PORT=8080

APP_SHUTDOWN_TIMEOUT=15s

PUBLIC_BASE_URL=http://localhost:5173

REPOSITORY_OPERATION_TIMEOUT=3s

LOGGER_LEVEL=info
LOGGER_DEVELOPMENT=false

POSTGRES_BIND_HOST=127.0.0.1
POSTGRES_EXTERNAL_PORT=5432

POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_USER=recap
POSTGRES_PASSWORD=recap
POSTGRES_DB=recap
POSTGRES_SSL_MODE=disable
POSTGRES_MAX_CONNS=10
POSTGRES_MIN_CONNS=2
POSTGRES_CONNECT_TIMEOUT=5s
